@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: #EDE9E7;
	font-family: 'Poppins', sans-serif;
}

main {
	max-width: 1000px;
	margin: 0px auto;
	overflow: hidden;
}

.button-bar {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 25%;
	left: 20px;
	transform: translateY(-50%);
}
  
.button-bar a {
	display: block;
	position: relative;
	margin-bottom: 10px;
	padding: 10px 70px 10px 20px;
	background-color: #cbe5ef;
	color: #000000;
	font-weight: bold;
	text-decoration: none;
	border-radius: 30px;
	transition: background-color 0.3s ease;
}
  
.button-bar a:not(:first-child)::after {
	content: "";
	position: absolute;
	top: 50%;
	right: 15px;
	transform: translateY(-50%);
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 8px 0 8px 10px;
	border-color: transparent transparent transparent #000000;
}
  
.button-bar a:first-child {
	background-color: #ff8000;
	color: #ffffff;
}
  
.button-bar a:first-child::after {
	display: none;
}
  
.button-bar a:hover {
	padding-right: 50px; /* Aumentamos el padding derecho al hacer hover */
	background-color: #e67500;
}
  
.button-bar a:hover::after {
	border-width: 8px 10px 8px 0;
}
  
/* Home.css */
/* Estilos para la barra de botones */
/* ...estilos anteriores... */

.calendar-container {
	display: flex;
	justify-content: flex-start; /* Alinear el calendario a la izquierda */
	margin-top: 20px; /* Espacio entre la barra de botones y el calendario */
  }
  
  .calendar-box {
	border: 1px solid #ccc; /* Borde del cuadro */
	border-radius: 10px; /* Bordes redondeados del cuadro */
	background-color: #f9f9f9; /* Color de fondo del cuadro */
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra del cuadro */
	padding: 20px 10px; /* Espaciado interno del cuadro */
	font-family: Arial, sans-serif; /* Tipo de fuente para el calendario */
	color: #333; /* Color del texto del calendario */
  }


  /* Estilos para el calendario */
  .react-calendar {
	/* ...otros estilos... */
	max-width: 300px; /* Establecer un ancho máximo para el calendario */
	margin: 0 auto; /* Centrar el calendario dentro del contenedor */
  }
  
  
  .react-calendar__navigation {
	background-color: #e67500; /* Color de fondo del encabezado de navegación del calendario */
	color: #fff; /* Color del texto del encabezado de navegación del calendario */
	font-weight: bold; /* Texto en negrita para el encabezado de navegación */
	font-size: 16px; /* Tamaño de fuente para el encabezado de navegación */
	border-radius: 5px; /* Bordes redondeados para el encabezado de navegación */
	padding: 5px 10px; /* Espaciado interno del encabezado de navegación */
	display: flex;
	justify-content: space-between; /* Alinear los botones de navegación a la izquierda y a la derecha */
  }
  
  .react-calendar__navigation button {
	background: none; /* Quitar el fondo del botón de navegación */
	border: none; /* Quitar el borde del botón de navegación */
	cursor: pointer; /* Cambiar el cursor al pasar por encima del botón de navegación */
  }
  
  .react-calendar__navigation button:enabled:hover {
	background-color: #d16000; /* Color de fondo cuando se hace hover en el botón de navegación */
  }
  
  .react-calendar__month-view__days {
	/* ...otros estilos... */
	display: grid; /* Mostrar los días del calendario en una cuadrícula */
	grid-template-columns: repeat(7, 1fr); /* Crear 7 columnas para los días de la semana */
  }

  .react-calendar__month-view__days > *:nth-of-type(7n+7) {
	color: red; /* Color rojo para los días domingos */
	font-weight: bold; /* Texto en negrita para los días domingos */
  }
  
  .react-calendar__tile--active {
	background-color: #e67500; /* Color de fondo de la celda activa del calendario */
	color: #fff; /* Color del texto de la celda activa del calendario */
	font-weight: bold; /* Texto en negrita para la celda activa del calendario */
  }
  
  .react-calendar__tile--now {
	background-color: #ff8000; /* Color de fondo de la celda que muestra la fecha actual */
	color: #fff; /* Color del texto de la celda que muestra la fecha actual */
	font-weight: bold; /* Texto en negrita para la celda que muestra la fecha actual */
  }
  
  .react-calendar__tile--hasActive:enabled:hover,
  .react-calendar__tile--active:enabled:hover,
  .react-calendar__tile--now:enabled:hover,
  .react-calendar__tile--rangeStart:enabled:hover,
  .react-calendar__tile--rangeEnd:enabled:hover {
	background-color: #d16000; /* Color de fondo cuando se hace hover en las celdas activas o en la fecha actual */
	color: #fff; /* Color del texto cuando se hace hover en las celdas activas o en la fecha actual */
	font-weight: bold; /* Texto en negrita cuando se hace hover en las celdas activas o en la fecha actual */
  }
  
  .react-calendar__tile--rangeStart,
  .react-calendar__tile--rangeEnd {
	background-color: #ff8000; /* Color de fondo de las celdas que indican el inicio y el final de un rango seleccionado */
	color: #fff; /* Color del texto de las celdas que indican el inicio y el final de un rango seleccionado */
	font-weight: bold; /* Texto en negrita para las celdas que indican el inicio y el final de un rango seleccionado */
  }
  
  