* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body1 {
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: #000;
}

.main1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;    
}

.icon {
    position: relative;
    width: 80px;
    height: 80px;
    margin: 20px;
    border-radius: 50%;
    transition: all .8s;
    cursor: pointer;
}

.icon:hover {
    background-color: #8f8484;
    box-shadow:  0 0 20px #8f8484 ;
}

.icon:hover:nth-child(2) {
    background-color: #3b5998 ;
    box-shadow:  0 0 20px #3b5998 ;
}

.icon:hover:nth-child(3) {
    background-color: #25D366;
    box-shadow: 0 0 20px #25D366 ;
}

.icon:hover:nth-child(4) {
    background-color: #c4302b ;
    box-shadow:  0 0 20px #c4302b  ;
}

.icon i {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 1.7rem;
}

svg circle {
    stroke-dasharray: 150;
    transition: all .8s ease-in-out;
}

.icon:hover circle {
    stroke-dasharray: 220;
}