.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.custom-loading-text {
  color: #ffffff;
  font-size: 24px;
  font-family: 'Lobster', cursive;
  text-align: center;
}

.open-source-text {
  font-size: 20px;
  color: #36d7b7;
}
